<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Hello Wrld</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Items Creators
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Create Custom Item</a></li>
                      <li><a class="dropdown-item" href="#">Create Item base on SD Id</a></li>
                      <li><a class="dropdown-item" href="#">Items from Regressions</a></li>
                      <li><a class="dropdown-item" href="#">Items from TMS Tasks</a></li>
                      <li><a class="dropdown-item" href="#">Items from Projects</a></li>
                  </ul>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Item Synchronization</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Manager's Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Daily Meetings</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Notifications</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Chat</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Job Scheduler
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Setup</a></li>
                      <li><a class="dropdown-item" href="#">Jobs logger</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Other
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Support People Search</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Setup
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Permitions</a></li>
                      <li><a class="dropdown-item" href="#">Appearance</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>